.App {
  padding: 0% 5%;
  font-size: 14px;
}

.App-header {
  margin-bottom: 5%;
}

.pizzaBox {
  border: 2px solid;
  padding: 1%;
  width: 20%;
  height: 25%;
}
.customiseButton {
  margin-right: 70%;
  margin-top: 3%;
}
